:root {
    --header-height: 10vh;
    --selections-height: 11vh;
}

body {
    margin: 0;
}
header {
    display: flex;
    background-color: grey;
    padding: 0 1.5em;
    height: var(--header-height);
    align-items: center;
    top: 0;
}
header h1 {
    margin: 0;
}
.selections {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: grey;
    width: 94vw;
    height: 7vh;
    padding: 3vh 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.selections > div {
    flex-grow: 2;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.selections > a {
    display: flex;
    font: inherit;
    justify-content: center;
    height: 100%;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.selections a {
    font-size: 3vw;
    padding: .3em .7em;
    background-color: whitesmoke;
    border-radius: 100em;
    transition: ease-in 150ms;
    display: flex;
    align-items: center;
}
.selections a:hover {
    cursor: pointer;
    background-color: lightgray;
}
.selection-disabled{
    background-color: rgb(117, 117, 117) !important;
    cursor: default !important;
}

#texts {
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--header-height) - var(--selections-height));
    overflow-x: hidden;
    overflow-y: scroll;
    align-items: flex-start;
    background-color: white;
}
.text-box  {
    animation: fade-in ease-in 200ms;
    display: flex;
    margin: 15px 0;
}
@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}
.text-box p{
    font-size: 1.5em;
    max-width: 60vw;
    width: fit-content;
    padding: .4em .5em;
    margin: 0;
    margin-top: 2px;
    position: relative;
    border-radius: 10px;
}
.text-box p::after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    rotate: 90deg;
    top: -2.5px;
}
.user-text p::after {
    border-left: 15px solid lightskyblue;
    right: -7px;
}
.ai-text p::after {
    border-left: 15px solid lightgreen;
    left: -7px;
}

.user-text {
    align-self: flex-end;
    text-align: right;
    flex-direction: row-reverse;
    margin-right: 15px;
}
.user-text p {
    background-color: lightskyblue;
}
.ai-text {
    align-self: flex-start;
    margin-left: 15px;
}
.ai-text p {
    background-color: lightgreen;
}
.ai-text p span {
    color: gray;
    font-size: .8em;
}
.user-profile, .ai-profile {
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    background-color: lightgrey;
}
.user-profile {
    margin-left: 15px;
}
.ai-profile {
    margin-right: 15px;
}

.selection-more-input {
    display: none;
    width: 95%;
    font-size: 1.1em;
}
#selection-more-input + button {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 2em;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
}
#selection-more-input + button:hover {
    cursor: pointer;
}