* {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}
#posts-container {
  width: calc(100vw - 6rem);
  height: calc(100vh - 6rem);
  padding: 3rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.post-group {
  display: flex;
  height: fit-content;
  /* height: 12em; */
  justify-content: space-evenly;
}

.post {
  display: inline-block;
  width: 10vw;
  height: 10vw;
  aspect-ratio: 1/1;
  padding: 1rem;

  & span {
    color: rgb(84, 84, 84);
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    font-size: .8rem;
  }
}

#new-post {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  padding: 1rem;

  & form {
    height: 100%;
    width: 100%;
    position: static;

    & textarea {
      height: inherit;
      width: inherit;
      background-color: transparent;
      border: none;
      resize: none;
    }
    
    & button {
      position: absolute;
      right: .3rem;
      bottom: .3rem;
      font-size: 1.5rem;
      background: none;
      border: 0;
      aspect-ratio: 1/1;
      height: 2rem;
      cursor: pointer;
      border-radius: 5px;
    }

    & button:hover {
      border: 1px black solid;
    }
  }
}