:root {
	--green-color: #1abc9c;
	--blue-color: rgb(57, 35, 252);
	--light-gray: rgb(197, 197, 197);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #1abc9c;
	font-family: "Source Sans Pro", sans-serif;
}
#login {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: white;
}
.container {
	width: 400px;
	height: 300px;
	z-index: 1;
}
.input {
	position: relative;
}
.input input,
.login-btn {
	width: 260px;
	height: 45px;
	outline: none;
	padding: 10px;
	border-radius: 3px;
	font-weight: bold;
	z-index: 1;
}
.form {
	width: 100%;
	height: 100%;
	display: flex;
	padding: 0px;
	flex-direction: column;
	align-items: center;
	background-color: white;
	justify-content: space-evenly;
}
.input input {
	border: none;
	border-bottom: 1px solid #8c8c8c;
}
.login-btn {
	border: 1px solid #8c8c8c;
	background: #1abc9c;
	cursor: pointer;
	font-size: 20px;
	color: #fff;
	padding: 3% 0px 0px 25%;
	transition: all ease-out 0.2s;
}
.login-btn:hover {
	background: #fff;
	cursor: pointer;
	color: #1abc9c;
	border: 1px solid #1abc9c;
	transition: all ease-out 0.2s;
}
#result {
	color: red;
}
#resultSignup {
	color: red;
}
.password-btn {
	color: gray;
	text-decoration: underline;
	transition: all ease-out 0.2s;
}
.password-btn:hover {
	color: black;
	cursor: pointer;
	transition: all ease-out 0.2s;
}
