

/* ========================================================================= */
/* Title */
.title {
  display: inline-block;
  width: fit-content;
  display: inline-flex;
  font-size: 3em;
  padding: 1em 0 !important;
  align-self: center;
  width: 100%;
  justify-content: space-between;
}
.title > div {
  display: flex;
  /* align-items: center; */
}
.title > div > div {
  width: fit-content;
  height: fit-content;
  margin-right: 3px;
  text-align: right;
  
  & :nth-child(1) {
    text-align: left;
    left: .06em;
  }
  
  & :nth-child(2) {
    font-size: .85em;
  }
  
  & :nth-child(3) {
    top: -.3em;
    left: .02em;
  }
  
  & :nth-child(4) {
    top: -.5em;
  }
}
.title p {
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: -.2em;
  font-size: .3em;
  /* top: 4.2em; */
  font-style: italic;
}
.title img {
  width: 75%;
}

/* ========================================================================= */
/* Sajak */
.sajak {
  overflow-x: hidden !important;
  overflow-y: hidden;
}

.sajak-content {
  margin: 1em 0;
  background-color: rgb(226, 226, 226);
  padding: 2em;
  padding-left: 27em;
  z-index: 1;
  text-align: left;
}

h3 {
  text-align: center;
}


/* ========================================================================= */
/* Maksud */
.maksud {
  height: 150em;
}
.maksud > div {
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.maksud > div > div {
  display: grid;
  text-align: justify;
  align-items: center;
  grid-template-columns: 4fr 1fr;
  gap: 2em; /* meow? */ 

}
.maksud > div > div > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;

  & p:has(b) {
    margin-bottom: 1em;
    text-align: center;
  }
}
.maksud img {
  width: 100%;
}

/* ========================================================================= */
/* Pengjaran */
.pengajaran {
  overflow-x: visible;
  height: 150em;
}
.pengajaran > div {
  display: flex;
  position: sticky;
  height: 100vh;
  top: 0;
  align-items: center;
}

.pengajaran-title {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: left;
}
.pengajaran-section {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: 80%;
  align-items: stretch;
  /* overflow-y: hidden; */
  overflow-x: visible;
}
.pengajaran-item {
  background-color: rgb(226, 226, 226);
  margin: .5em 0;
  padding: 1em 2em;
}