#users-table-header, #notes-table-header {
  display: grid;
  align-items: center;
  padding: 10px 20px;
  background-color: #f1f1f1;
}
#users-table-header {
  grid-template-columns: repeat(4, 1fr);
}
#notes-table-header {
  grid-template-columns: repeat(4, 1fr);
}

#users-table-body, #notes-table-body {
  padding: 0 20px;
}

.users-table-row, .notes-table-row {
  display: grid;
  align-items: left;
  padding: 10px 0;
  border-bottom: 1px solid #f1f1f1;

  & > div {
    display: flex;
    justify-content: space-between;
  }
  & i {
    cursor: pointer;
  }
}
.users-table-row {
  grid-template-columns: repeat(4, 1fr);
}
.notes-table-row {
  grid-template-columns: repeat(4, 1fr);
}