/* Define CSS variables */
:root {
  --background-image: url(../src/background.jpg);
  --toolbar-height: 3.9em;
  --toolbar-padding: 0.5em 0.75em;
  --toolbar-border-radius: 5px;
  --toolbar-border-color: #B4B4B4;
  --toolbar-blur: 20px;

  --sidebar-width: 12em;
  --sidebar-height: 14em;
  --sidebar-padding: 0.5em 0.75em;
  --sidebar-blur: 20px;

  --profile-height: 3.5em;
  --profile-background: hsla(0, 0%, 94%, 0.2);

  --task-background: rgba(237, 102, 49, 0.4);
  --task-separator-color: #a8a8a8;

  --event-background: hsla(0, 0%, 94%, 0.2);
  --event-item-background: rgba(237, 102, 49, 0.4);

  --window-height: 30em;
  --window-width: 40em;
  --window-header-height: 2em;
  --window-header-background: #f9f9f9;

  --corner-size: .4em;
  --corner-color: red;

  --edge-size: .4em;
  --edge-color: orange;

  --border-radius: 50rem;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
}

#toolbar {
  width: fit-content;
  height: var(--toolbar-height);
  border: 1px solid var(--toolbar-border-color);
  border-radius: var(--toolbar-border-radius);
  backdrop-filter: blur(var(--toolbar-blur));
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.5em;
  padding: var(--toolbar-padding);
  display: flex;

  & div {
    height: 100%;
    display: flex;

    & img {
      height: 100%;
      aspect-ratio: 1 / 1;
      margin-right: 0.75em;
    }

    & a:only-child img {
      margin-right: 0;
      margin-left: 0.75em;
    }
  }

  #toolbar-separator {
    height: 100%;
    border: 1px var(--toolbar-border-color) solid;
  }
}

#left-sidebar {
  width: fit-content;
  height: var(--sidebar-height);
  position: fixed;
  left: 1.5em;
  top: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#profile {
  width: var(--sidebar-width);
  height: var(--profile-height);
  padding: var(--sidebar-padding);
  background-color: var(--profile-background);
  display: flex;
  backdrop-filter: blur(var(--sidebar-blur));
  margin-bottom: 3em;

  & img {
    height: 100%;
    aspect-ratio: 1 / 1;
    margin-right: 0.75em;
  }
  & div {
    font-size: 0.75em;
    display: flex;
    justify-content: center;
    flex-direction: column;

    & p:first-child {
      font-size: 1.2em;
    }
  }
}

#tasks {
  width: 30em;
  flex-grow: 1;
  padding: var(--sidebar-padding);
  background-color: var(--profile-background);
  display: flex;

  & #tasks-create {
    display: flex;
    flex-direction: column;
    gap: 1em;

    & a {
      flex: 1;
      width: 9em;
      background-color: var(--task-background);
      display: inline-block;
    }
  }

  & #tasks-seperator {
    height: 100%;
    border: 1px var(--task-separator-color) solid;
    margin: 0 0.75em;
  }

  & #tasks-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: end;

    & div {
      flex: 1;
      width: calc(100% - 0.6rem - 0.3rem);
      background-color: var(--task-background);
      position: relative;
    }
    & div::before {
      content: "";
      height: 100%;
      background-color: var(--task-background);
      width: 0.6em;
      display: inline-block;
      left: calc(-0.6rem - 0.3rem);
      position: relative;
      border-radius: var(--border-radius);
    }
  }
}

#events {
  height: var(--sidebar-height);
  background-color: var(--event-background);
  position: fixed;
  right: 1.5em;
  top: 1.5em;
  width: 11em;
  padding: 1em 0.75em;
  display: flex;
  flex-direction: column;

  & p {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  & #events-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: end;

    & #event-item {
      flex: 1;
      background-color: var(--event-item-background);
      width: calc(100% - 0.6rem - 0.3rem);
    }

    & #event-item::before {
      content: "";
      height: 100%;
      background-color: var(--event-item-background);
      width: 0.6em;
      display: inline-block;
      left: calc(-0.6rem - 0.3rem);
      position: relative;
      border-radius: var(--border-radius);
    }
  }
}

#screen {
  height: 100vh;
  width: 100vw;
  position: fixed;

  & .window {
    height: var(--window-height);
    width: var(--window-width);
    position: absolute;
    left: 24%;
    top: 25%;
    display: flex;
    flex-direction: column;

    & .window-controls {
      height: var(--window-header-height);
      width: 100%;
      background-color: var(--window-header-background);
      padding: 1em;
      padding-bottom: 0;

      & a {
        background-color: #FF3E3E;
        height: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 100%;
        display: inline-block;
      }
    }

    & iframe {
      width: 100%;
      flex: 1;
    }

    & .corner {
      position: absolute;
      width: var(--corner-size);
      height: var(--corner-size);
      /* background-color: var(--corner-color); */
      
      &.top-left {
        top: 0;
        left: 0;
        cursor: nwse-resize;
      }
      &.top-right {
        top: 0;
        right: 0;
        cursor: nesw-resize;
      }
      &.bottom-left {
        bottom: 0;
        left: 0;
        cursor: nesw-resize;
      }
      &.bottom-right {
        bottom: 0;
        right: 0;
        cursor: nwse-resize;
      }
    }

    & .edge {
      position: absolute;
      /* background-color: var(--edge-color); */

      &.edge-top {
        top: 0;
        left: 0;
        width: 100%;
        height: var(--edge-size);
        cursor: ns-resize;
      }
      &.edge-bottom {
        bottom: 0;
        left: 0;
        width: 100%;
        height: var(--edge-size);
        cursor: ns-resize;
      }
      &.edge-left {
        top: 0;
        left: 0;
        width: var(--edge-size);
        height: 100%;
        cursor: ew-resize;
      }
      &.edge-right {
        top: 0;
        right: 0;
        width: var(--edge-size);
        height: 100%;
        cursor: ew-resize;
      }
    }
  }
}