* {
  margin: 0;
  position: relative;
  box-sizing: border-box;
}

input {
  display: none;
}

.title {
  display: inline-block;  
  /* flex-direction: column; */
}
.title h1 {
  margin-top: 0.3em;
  font-size: 4em;
}
.title hr {
  display: inline-block;
  padding: 0;
}
.title img {
  width: 80%;
  margin: 1em 0;
  padding: 0.5em;
}

header {
  /* height: fit-content !important; */
}

section {
  margin: -1em !important;
}

.bentuk {
  /* margin-top: -1.5em; */
  display: flex;
  font-size: 1.25em;
  padding-bottom: 4em;
}
.bentuk img {
  width: 40%;
  margin-right: 3em;
}
.bentuk > div {
  display: flex;
  align-items: center;
  padding: 1em 0;
  

  & ol {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  & li {
    margin: 1em 0;
  }
}

@media (max-width: 768px) and (min-width: 426px) {
  .title {
    font-size: .5em !important;
  }
  .title img {
    width: 100% !important;
  }

  .bentuk {
    margin-top: 40px;
  }
}

@media (max-width: 426px) {
  .title {
    font-size: 1em !important;
  }
  .title img {
    width: 100% !important;
  }

  .bentuk {
    margin-top: 40px;
  }
  
  .bentuk img {
    display: none;
  }
}