* {
  margin: 0;
  position: relative;
  box-sizing: border-box;
}

input {
  display: none;
}

.title {
  display: inline-block;  
  margin-bottom: -3.5em;
  /* flex-direction: column; */
}
.title h1 {
  margin-top: 0.3em;
  font-size: 4em;
  
}
.title hr {
  display: inline-block;
  padding: 0;
}
.title img {
  width: 100%;
  margin: 1em 0;
  padding: 0.5em;
}


.bentuk {
  display: flex;
  font-size: 1.25em;
}
.bentuk img {
  width: 40%;
  margin-right: 3em;
}
.bentuk > div {
  display: flex;
  align-items: center;

  & li {
    margin: 1em 0;
  }
}