body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
  font-size: 1.5em;
  z-index: 100;
  background-color: white;
}
header > * {
  margin: 0 20px;
}
.menu-icon div {
  width: 1.2em;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
.menu-icon:hover {
  cursor: pointer;
}
.profile {
  background-color: grey;
  height: 1.5em;
  width: 1.5em;
  border-radius: 100%;
  position: relative;
}
.profile > div {
  position: absolute;
  height: 14em;
  width: 10em;
  top: 2em;
  right: 0;
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  opacity: 0;
  display: none;
  transition: .2s ease-in-out;
  padding: .5em;
  box-sizing: border-box;
}
.profile > div:hover {
  cursor: default;
}
.profile > div > a {
  font-size: .9em;
}
.profile > div > a:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: .7em;
  margin: 6px;
}
#username-title {
  font-size: 1.2em;
  font-weight: bold;
}
#class-title {
  font-size: .8em;
  color: rgb(79, 79, 79);
  position: relative;
  top: -.3em;
}
#profile-select:focus + label > div, .profile > div:hover {
  opacity: 1;
  display: block;
}