:root {
  --header-height: 5rem;
  --cart-width: 17%;
}
* {
  margin: 0;
}
body {
  margin: 0;
}
a:hover, label:hover {
  cursor: pointer;
}
input {
  border: none;
  background-color: #d9d9d9;
  border-radius: 10px;
}
input::placeholder {
  color: white;
}

/* Header */
header {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
  font-size: 1.5em;
  z-index: 100;
  background-color: white;
}
header > * {
  margin: 0 20px;
}
.menu-icon div {
  width: 1.2em;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
.profile {
  background-color: grey;
  height: 1.5em;
  width: 1.5em;
  border-radius: 100%;
  position: relative;
}
.profile > div {
  position: absolute;
  height: 14em;
  width: 10em;
  top: 2em;
  right: 0;
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  opacity: 0;
  display: none;
  transition: .2s ease-in-out;
  padding: .5em;
  box-sizing: border-box;
}
.profile > div:hover {
  cursor: default;
}
.profile > div > a {
  font-size: .9em;
}
.profile > div > a:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: .7em;
  margin: 6px;
}
#username-title {
  font-size: 1.2em;
  font-weight: bold;
}
#class-title {
  font-size: .8em;
  color: rgb(79, 79, 79);
  position: relative;
  top: -.3em;
}
#profile-select:focus + label > div, .profile > div:hover {
  opacity: 1;
  display: block;
}


/* Main container */
.main-container {
  display: flex;
  height: calc(100vh - var(--header-height) - 1.8rem);
  padding-bottom: 1.8rem;
  padding-top: var(--header-height);
}
/* Cart sidebar */
.cart-container {
  height: calc(100vh - var(--header-height) - 1.8rem);
  width: var(--cart-width);
  position: fixed;
  box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
}
.cart-container > p {
  background-color: #064759;
  margin: 0;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  font-size: 1.8em;
}
#cart {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
#cart > div {
  width: 80%;
  height: 4rem;
  margin: 1rem;
  color: white;
  font-size: 2em;
  font-weight: bolder;
  position: relative;
}
#cart > div > div:not(:last-child) {
  display: flex;
  width: 100%;
  height: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: space-around;
}
#cart > div > div:last-child {
  color: black;
  font-size: initial;
  font-weight: initial;
  display: flex;
  justify-content: space-between;
}
#cart-details {
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  text-align: center;
  font-size: 1.1em;
}
#cart-details p{
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: .5em 0;
}
#cart-details a{
  color: white;
  background-color: #064759;
  width: 90%;
  padding: .5em 0;
  border-radius: .5em;
  margin: 2em 0;
  transition: .15s ease-in-out;
}
#cart-details a:hover{
  background-color: #EF7200;
}
/* Menu container */
.menu {
  padding-left: calc(var(--cart-width) + 1em );
  padding-right: 1em;
  width: calc(100% - var(--cart-width));
  display: flex;
  flex-direction: column;
}
.menu input[type="radio"] {
  display: none;
}
/* Menu sections */
.sections {
  margin-top: 30px;
  color: white;
  height: fit-content;
  display: flex;
  align-items: flex-end;
  padding: 0 1em;
}
.sections label {
  margin: 0 6px;
  text-transform: uppercase;
  font-weight: bolder;
  background-color: #064759;
  padding: .3em .5em;
  display: inline-block;
  transition: ease-in-out .1s;
}
.sections input:checked + label {
  background-color: #EF7200;
  font-size: 1.3em;
}
#edit-controls {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  height: 100%;
  align-items: center;
  display: none;
}
#edit-controls > :first-child {
  color: black;
  height: fit-content;
  font-size: 1.7em;
  display: flex;
  position: relative;
  top: 1px;
}
#edit-controls > :last-child {
  background-color: #064759;
  transition: .2s ease-in-out;
  height: fit-content;
  padding: .3rem 1.2rem;
  margin-left: 1rem;
  border-radius: 7px;
  font-weight: bold;
}
#edit-controls > :last-child:hover {
  background-color: #EF7200;
}
/* Menu Items */
#items {
  border: solid .2rem #EF7200;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: max-content;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  padding: 2em;
  flex: 1;
  height: 100%;
  overflow-y: scroll;
}
@media only screen and (max-width: 790px) {
  #items {
    grid-template-columns: repeat(3, 1fr);
  }
  #items > div {
    height: 23vw !important;
  }
}
#items > div > div:first-child {
  width: 100%;
  height: 90%;
  border: solid black 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#items > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 18vw;
  position: relative;
}
#items .item-details {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}
#items > div > div *:first-child {
  position: absolute;
  left: 0;
}
#items > div > div * {
  height: fit-content;
}
#items > div > div *:last-child {
  margin-left: 10px;
  font-weight: bolder;
}
#items a[onclick^="editItem"] {
  position: absolute;
  right: 0;
  font-size: 1em;
  background-color: #064759;
  color: white;
  width: 1.2em;
  height: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
  padding: 6px;
  border-radius: 100%;
  transition: ease-in-out .2s;
}
#items a[onclick^="editItem"]:hover {
  background-color: #EF7200;
}



body:has(div[id$="overlay"][style="display: block;"]) {
  overflow: hidden;
}
div[id$="overlay"] {
  position: fixed; /* Set in html for js to read it */
  display: none;
  width: 100vw;
  height: calc(100vh - var(--header-height));
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
div[id$="overlay"] > div[id$="div"] {
  background-color: whitesmoke;
  box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35vw;
  height: 80vh;
  padding: 1.3rem;
}

p[id^="confirm-price"] {
  font-size: 1.5em;
  font-weight: bolder;
  margin-top: .4rem;
  text-align: center;
}
#confirm-payment-method {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  align-items: center;
  margin: 1.5em 0;
}
#confirm-payment-method div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 76%;
  width: 100%;
  margin-top: 1em;
}
#confirm-payment-method a {
  color: white;
  background-color: #064759;
  width: 100%;
  height: 3rem;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  padding: .5rem 0;
  border-radius: 1rem;
  transition: ease-in-out .2s;
}
#confirm-payment-method a:hover {
  background-color: #EF7200;
}
.close-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1.3em;
}
/*  */
div[id^="confirm-items"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  height: 20%;
  overflow-x: scroll;
}
.confirm-item-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 5em;
  position: relative;
  flex: 1;
  /* margin: .1em */
}
.confirm-item-details > div {
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}
.confirm-item-details > p {
  position: absolute;
  bottom: -15px;
  font-size: .8em;
  color: rgb(98, 98, 98);
}

/* Card things */
.card-details-div {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: .5rem;
  width: inherit;
  font-size: 1.15em;
}
.card-details-div > :first-child {
  font-weight: bolder;
  text-align: center;
  margin: 0;
}
.card-details-div > * {
  margin: 10px 0;
}
.card-details-div > div:not([id="supported-cards"]) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.card-details-div > div > div > a {
  background-color: #064759;
  color: white;
  padding: 10px;
  border-radius: 10px;
  transition: .2s ease-in-out;
  align-self: flex-start; 
  opacity: 0;
}
.card-details-div > div > div > a:hover {
  background-color: #EF7200;
}
#supported-cards i {
  font-size: 1.5em;
  align-self: flex-start;
}
.card-type {
  filter: brightness(0%);
}
p[id^="invalid"] {
  color: red;
  opacity: 0;
}
.card-selected {
  filter: none !important;
}
#card-details input {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  font-size: .8em;
}


/* Edit item div */
:-webkit-any(#edit-div, #add-item-div, #delete-div) > p {
  font-size: 1.8em;
  font-weight: bolder;
  margin-top: .7rem;
  text-align: center;
}
:-webkit-any(#edit-form, #new-item-form) {
  position: relative;
  width: 100%;
  font-size: 1.3em;
  flex: 1;
}
:-webkit-any(#edit-form, #new-item-form) > * {
  margin: 1em 0;
}
:-webkit-any(#edit-form, #new-item-form) input {
  margin-top: .5em;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}
:-webkit-any(#edit-form, #new-item-form, #delete-div) > :last-child {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 55%;
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translate(-50%, 0);
}
:-webkit-any(#edit-form, #new-item-form, #delete-div) > :last-child > * {
  padding: .3em .7em;
  border-radius: 10px;
  transition: .1s ease-in-out;
  color: white;
  background-color: #064759;
}
:-webkit-any(#edit-form, #new-item-form, #delete-div) > :last-child > :first-child:hover {
  background-color: #042f3b;
}
:-webkit-any(#edit-form, #new-item-form) > :last-child > :last-child {
  background-color: rgb(0, 206, 0);
  color: white;
}
:-webkit-any(#edit-form, #new-item-form) > :last-child > :last-child:hover {
  background-color: rgb(1, 162, 1);
}
#delete-div > :last-child > :last-child {
  background-color: red;
  color: white;
}
#delete-div > :last-child > :last-child:hover {
  background-color: rgb(198, 0, 0);
}
#delete-div {
  font-size: 1.3em;
  position: relative;
}
#delete-btn {
  background-color: red;
  font-size: 1.3em;
  width: 1.3em;
  height: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  margin: .5rem;
  border-radius: 100%;
  padding: .5rem;
  transition: .1s ease-in-out;
}
#delete-btn:hover {
  background-color: rgb(198, 0, 0);
}

/* Edit buttons */
#edit-btn {
  position: fixed;
  right: 0;
  bottom: 0;
  display: none;
  background-color: #064759;
  color: white;
  margin: 1em;
  padding: .6em 2.2em;
  border-radius: 10px;
  font-weight: bold;
  display: none;
  transition: .1s ease-in-out;
}
#edit-btn:hover {
  background-color: #EF7200;
}
/* #add-item-btn {
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;
} */

/* div#items>div[id^="item"] {
  position: relative;
  display: inline;
}

div#items>div[id^="item"]>img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
} */